/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  transition: all 0.75s ease-in-out;
}


@media only screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1050px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 890px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 7px;
  }
}

@media only screen and (max-width: 530px) {
  html {
    font-size: 6px;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 410px) {
  html {
    font-size: 14px;
  }
}

/* Header Section*/

header {
  box-sizing: border-box;
  min-height: 64px;
  font-size: 1rem;
  background-color: white;
  color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.65);

}

body {
  margin-top: 64px;
  width: 100%;
}

img {
  min-height: 32px;
}


nav {
  display: inline-block;
  margin-right: 1.5rem;
  height: 1.5rem;
}

nav ul li {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: middle;
}

nav ul li a {
  color: black;
  text-decoration: none;
  position: relative;
  transition: all 350ms;
}

nav ul li a:hover{
  color: #0190D2;
}

nav ul li a:after{
  position: absolute;
  content: '';
  bottom: -10px;
  left:50%;
  opacity: 0;
  transform: translateX(-50%);
  width: 30px;
  border-bottom: 2px solid #0190D2;
  transition: all 350ms;
}

nav ul li a:hover:after{
  opacity: 1;
}


nav ul li a:active, a:active {
  color: black;
}

h1 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.024em;
  line-height: 1.2;
  font-size: 2.6em;
  font-weight: bold;
}

h2 {
  font-family:'Roboto', sans-serif;
  font-size: 2.2em;
  font-weight: bold;
  letter-spacing: 0.01em;
  line-height: 1.3;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: 0.005em;
  line-height: 1.4;
}

p, span, li, button, a {
  font-size: 1.1rem;
  letter-spacing: 0.002em;
  line-height: 1.2;
}

video {
    max-width: 100%;
    height: auto;
}

/*Footer*/

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  color: rgba(0, 0, 0, 1);
  font-size: 1rem;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;

  background-color: rgba(240,240,240,1);
}

footer span {
  padding-left: 1.5rem;
}

footer nav ul li a {
  color: rgba(0, 0, 0, 1);
}

@media only screen and (max-width:480px) {
  footer span {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  footer nav {
    display: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  color: black;
}

.light {
  color: #0190D2;
  font-weight: 600;
}

 /* Using 750px for switching to the header in mobile layout*/

@media only screen and (min-width: 750px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 749px) {
  .mobile {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .desktop, .logo {
    display: none;
  }
}

/*Banner*/

.banner {
  font-size: 1rem;
  display: flex;
  align-items: center;
  background-color: white;
  margin: 1rem 0;
}

.banner-img-wrapper {
  width: 60%;
  padding: 2rem 0 2rem 1.5rem;
}

.banner-img-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.banner-text {
  max-width: 40%;
  font-size: 1rem;
}

.banner-text h1 {
  width: 100%;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
}

.banner-text h3 {
  width: 100%;
  padding-left: 1.5rem;
}

.banner-text .button {
  background-color: #4a4a4a;
  color: white;
  padding: 1rem 0;
  margin: 1rem 1.5rem 0 1.5rem;
  border: none;
  width: 100%;
  display: block;
  text-align: center;
  cursor: pointer;
  transition:  all 350ms;
}

.banner-text .button:hover {
  background-color: #575757;
}

@media only screen and (max-width: 480px) {
  .banner {
    flex-direction: column;
    align-items: stretch;
  }

  .banner-img-wrapper {
    padding: 0;
    width: 100%;
  }

  .banner-text {
    width: 95%%;
    max-width: 100%;
  }

  .banner-text h1 {
    margin-top: 2rem;
    width: 95%;
  }

  .banner-text h3 {
    width: 95%;
  }

  .banner-text button {
    width: 90%;
    margin: 1.5rem auto 2rem auto;
  }
}

/*About Colmar Section */

.about-colmar {
  font-size: 1rem;
  display: flex;
  color: black;
  margin: 1rem 0;
  background-color: rgba(1, 144, 210, 0.23);
}

.main {
  width: 60%;
  padding: 3rem 1.5rem 0 1.5rem;
}

.main img {
  max-height: 100%;
  max-width: 100%;
 }

.main h2 {
  margin: 2rem 0 1.5rem 0;
}

.main span {
  font-size: 0.8em;
  display: block;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.activities {
  width: 40%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.activity {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.activity img {
  width: 35%;
  height: auto;
  margin-left: 1rem;
}

.colored-tile-az {
  color: rgba(0, 0, 0, 1);
}

.colored-tile {
  color: rgba(0, 0, 0, 1);
}

.colored-tile a, .colored-tile-az a {
  color: rgba(0, 0, 0, 1);
}

.colored-tile a:active, .colored-tile-az a:active {
  color: rgba(254, 130, 50, 1);;
}

.activity-text {
  margin-left: 1rem;
  width: 65%;
}

.activity-text h3 {
  line-height: 1;
  color: black;
}

.activity-text p {
  margin: 0.5rem 0;
  color: black;
}

.activity-text a{
  font-weight: 600;
  transition: all 350ms;
}

.activity-text a:hover{
  color: #0190D2;
}

.event-text{
 margin-left: 1rem;
}

.event-text p{
  margin: 0.5rem 0;
}

.event-text a{
  font-weight: 600;
  transition:  all 350ms;
}

.event-text a:hover{
  color: #0190D2;
}


@media only screen and (max-width:480px) {
  .main {
    display: none;
  }

  .desktop-info {
    display: none;
  }

  .activities {
    width: 100%;
    margin-top: 0;
  }

  .activity {
    flex-direction: column;
    align-items: center;
  }

  .activity img {
    width: 90%;
    height: auto;
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .activity-text {
    width: 90%;
    padding-left: 1rem;
  }

  .lecture {
    background-color: transparent;
  }

  .activity-text a {
    display: inline-block;
    padding-bottom: 2rem;
  }

  .lecture a {
    display: inline-block;
    padding-bottom: 1rem;
  }
}

@media only screen and (min-width:480px) {
  .mobile-info {
    display: none;
  }
}

/*Courses given section*/

.given {
  font-size: 1rem;
  background-color: white;
}

.given h2 {
  text-align: center;
  padding: 2rem 0;
  width: 100%;
  background-color: white;
}

.desktop-given {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.course {
  flex-direction: column;
  margin: 0 1rem 2rem 1rem;
  background-color: white;
  display: flex;
  max-width: 27%;
  background-color: white;
  color: black;
}

.course:nth-child(3n+1) {
  margin-left: 4.5rem;
}

.course:nth-child(3n+0), .subject:last-child {
  margin-right: 4.5rem;
}

.course:nth-child(4n+2) {
  background-color: white;
  color: rgba(0, 0, 0, 1);
}

.course:nth-child(4n+1) {
  background-color: white;
  color: rgba(0, 0, 0, 1);
}

.course img {
  width: 100%;
  height: auto;
}

.course-text {
  margin: 2rem 6.5rem 1.5rem 1rem;
}

.course-text p {
  margin-top: 0.5rem;
}

@media only screen and (min-width:481px) {
  .mobile-given {
    display: none;
  }
}

@media only screen and (max-width:480px) {
  .desktop-given {
    display: none;
  }

  .mobile-given {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(240,240,240,1);
  }

  .mobile-given button {
    width: 90%;
    padding: 1rem 0 1.5rem 1rem;
    cursor: pointer;
    display: block;
    margin: 0.5rem 0 0 0;
    text-align: left;
    border: none;
  }

  .mobile-given button:nth-child(3n+1) {
    background-color: rgba(105, 202, 216, 1);
  }

  .mobile-given button:nth-child(3n+2) {
    background-color: rgba(200, 248, 118, 1);
  }

  .mobile-given button:nth-child(3n+3) {
    background-color: rgba(148, 119, 223, 1);
    color: rgba(255, 255, 255, 1);
  }

  .mobile-given button:first-child {
    margin: 0;
  }

  .mobile-given button:last-child {
    margin-bottom: 2rem;
  }

  .mobile-given button:hover {
    background-color: rgba(254, 130, 50, 1);
  }
}

/*thesis showcase section*/
.showcase {
  font-size: 1rem;
  background-color: rgba(1, 144, 210, 0.23);

}

.showcase h2 {
  text-align: center;
  background-color: white;
  color: black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

.container-thesis {
  display: flex;
  align-items: flex-start;
  padding-left: 1.5rem;
  color: black;
}

.thesis-main{
  width:60%;
  display: flex;
  flex-direction: column;
}

.thesis-main h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.thesis-main p {
  padding-bottom: 2rem;
}

.thesis-featured {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
}

.thesis {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.thesis img {
  width: 35%;
  height: auto;
  margin: 1rem;
}

.thesis-text {
  width: 65%;
}

.thesis-text h3 {
  margin-bottom: 0.5rem;
}

@media only screen and (max-width:480px) {
  .showcase h2 {
    padding-bottom: 1rem;
  }

  .thesis-featured {
    display: none;
  }

  .container-thesis{
    padding-left: 0;
  }

  .thesis-main h3, .thesis-main p {
    display: none;
  }

  .thesis-main {
    width:100%;
    padding-bottom: 1.5rem;
  }
}

@media only screen and(max-width:480px) {
  nav ul li a{
    font-size: 1.2rem;
  }
  p, span, li, button, a{
    font-size: 1.2em;
  }

  .banner-text .button{
    margin: 0;
  }
}
